html, body {
  overflow-x: hidden;
}

body {
  padding-top: 49px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  background-image: none;
}

.footer {
  position: relative;
  height: 50px;
  clear: both;
  padding-top: 20px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/***** Top menu *****/
.navbar {
  padding-top: 10px;
  background: #333;
  background: rgba(51, 51, 51, 0.3);
  border: 0;
  transition: all .3s;
}

.navbar.navbar-no-bg {
  background: none;
}

ul.navbar-nav {
  font-size: 16px;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-inverse ul.navbar-nav li .li-text {
  opacity: 0.8;
}

.navbar-inverse ul.navbar-nav li a {
  display: inline;
  padding: 0;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li a:hover {
  color: #fff;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li a:focus {
  color: #fff;
  outline: 0;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li .li-social a {
  margin: 0 5px;
  font-size: 28px;
  vertical-align: middle;
}

.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus {
  border: 0;
  color: #f35b3f;
}

/***** Top content *****/
.top-content {
  padding: 40px 0 170px 0;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 {
  color: #fff;
}

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
}

.top-content .description a {
  color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.form-box {
  padding-top: 40px;
}

.f1 {
  padding: 25px;
  background: #fff;
  border-radius: 4px;
}

.f1 h3 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.f1-steps {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.f1-progress {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}

.f1-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background: #f35b3f;
}

.f1-step {
  position: relative;
  float: left;
  width: 16.5%;
  padding: 0 5px;
}

.f1-step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  background: #ddd;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
}

.f1-step.activated .f1-step-icon {
  background: #fff;
  border: 1px solid #f35b3f;
  color: #f35b3f;
  line-height: 38px;
}

.f1-step.active .f1-step-icon {
  width: 48px;
  height: 48px;
  margin-top: 0;
  background: #f35b3f;
  font-size: 22px;
  line-height: 48px;
}

.f1-step p {
  color: #ccc;
}

.f1-step.activated p {
  color: #f35b3f;
}

.f1-step.active p {
  color: #f35b3f;
}

.f1 fieldset {
  display: none;
}

.f1-buttons {
  text-align: right;
}

.f1 .input-error {
  border-color: #f35b3f;
}

/***** Media queries *****/
@media (max-width: 767px) {
  .navbar {
    padding-top: 0;
  }
  .navbar.navbar-no-bg {
    background: #333;
    background: rgba(51, 51, 51, 0.9);
  }
  .navbar-brand {
    height: 60px;
    margin-left: 15px;
  }
  .navbar-collapse {
    border: 0;
  }
  .navbar-toggle {
    margin-top: 12px;
  }
  .top-content {
    padding: 40px 0 110px 0;
  }
}

@media (max-width: 415px) {
  h1, h2 {
    font-size: 32px;
  }
  .f1 {
    padding-bottom: 20px;
  }
  .f1-buttons button {
    margin-bottom: 5px;
  }
}

.header-top {
  background: url(/images/header.png);
}

.navbar {
  margin-bottom: 0px;
}

.pooltab {
  /********************************************************************/
  /*** PANEL DEFAULT ***/
}

.pooltab .panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px !important;
}

.pooltab .panel.with-nav-tabs .nav-tabs {
  border-bottom: none !important;
}

.pooltab .panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > li > a,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777 !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > .open > a,
.pooltab .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.pooltab .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777 !important;
  background-color: #ddd !important;
  border-color: transparent !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > li.active > a,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555 !important;
  background-color: #fff !important;
  border-color: #ddd !important;
  border-bottom-color: transparent !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777 !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #ddd !important;
}

.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.pooltab .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #555 !important;
}

.clickable {
  cursor: pointer;
}

.clickable .glyphicon {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
}

.panel-heading span {
  margin-top: -23px;
  font-size: 15px;
  margin-right: -9px;
}

a.clickable {
  color: inherit;
}

a.clickable:hover {
  text-decoration: none;
}

.panel.panel-service {
  background: white;
  border: 0px;
  color: black;
}

.panel.panel-transparent {
  background: transparent;
}

p.panel-service-title {
  font-size: 26px;
}

p.panel-service-title, p.panel-service-description {
  color: rgba(62, 51, 51, 0.91);
}

.panel-transparent {
  background: transparent;
  border: 0px;
  color: rgba(62, 51, 51, 0.91);
}

.panel-transparent .item {
  padding: 5px 10px;
}

.panel-transparent .item .panel {
  background: #87c2de;
  padding: 12px 7px;
}

form.form-page {
  color: black;
  padding: 11px 13px;
}

form.form-manager-contact {
  padding: 0px;
}

span.glyphicon.glyphicon-remove.form-control-feedback {
  color: red;
}

.keywords .form-group.has-feedback {
  margin-bottom: 2px;
}

.keywords .form-control-feedback {
  pointer-events: auto !important;
}

.keywords i.fa.fa-plus.add-btn-page {
  padding-right: 12px;
  padding-top: 7px;
  color: blue;
}

.help-block.has-error {
  color: #a94442;
}

.alert {
  text-align: center;
}

.alert-fail {
  background-color: #f0e3d8;
  border-color: #f0e3d8;
  color: #a94442;
}

.panel-service .item .panel {
  background: white;
  padding: 12px 7px;
  border: 1px solid rgba(97, 83, 83, 0.57);
}

.panel-service .item .panel {
  background: white !important;
  padding: 12px 7px !important;
  border: 1px solid rgba(97, 83, 83, 0.57) !important;
}

.space-title {
  margin: 25px 5px !important;
}

.space-title span {
  color: rgba(62, 51, 51, 0.91);
}

.panel-service img.img-circle {
  width: 100px;
  margin: 50px 10px 25px;
  border: 1px solid #4bb2d5;
  padding: 10px;
}

.row.row-eq-height {
  padding: 22px;
}

.panel.panel-default {
  border: 1px solid #d3e0e9;
}

footer {
  padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
  font-size: 24px;
}

.navbar-container {
  padding: 10px 0 10px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #00d0ff;
  border-color: #00d0ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

.navbar-fixed-top {
  background-color: #00d0ff;
}

.navbar-toggle .icon-bar {
  background: #1e12e2;
}

.navbar a {
  color: white;
}

.text-color-deep {
  color: #bc4e2f;
}

.text-color-water {
  color: #2c9fda;
}

.navbar li.active a {
  color: #0575f1;
  background: transparent;
}

.navbar li, .navbar a {
  background: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a, a:visited, a:hover, a:active, li, li:visited, li:hover, li:lictive {
  background: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: red;
}

.container .title {
  padding-bottom: 50px;
}

/*
.btn-default {
    color: white;
    border-color: white;
    background: transparent;
}
*/
.footer {
  position: relative;
  height: 50px;
  clear: both;
  padding-top: 20px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

body, .panel {
  overflow-y: hidden;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-eq-height > [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-size: 13px;
}

nav#header {
  padding-top: 0px;
}

.baner-title {
  color: white;
}

.baner {
  padding-top: 25px;
  padding-bottom: 25px;
}

.baner-description {
  color: #a58e11;
}

.baner .btn.btn-default {
  border: 1px solid;
}

div#app {
  margin-top: 50px;
}

form {
  text-align: center;
}

.panel.panel-transparent {
  border: 0px;
  box-shadow: none;
}

.page-admin form, .option-admin form {
  text-align: left;
}

.main-min {
  min-height: 730px;
}

span.stars, span.stars span {
  display: block;
  background: url(../images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
  float: left;
  margin-right: 5px;
}

span.stars span {
  background-position: 0 0;
}

span.stars {
  margin-top: 7px;
}

.stars.starrr {
  color: #cfcb36;
  font-size: 20px;
}

.my-pool-service-company tr td {
  vertical-align: middle;
}

.adminpanel {
  padding-top: 50px;
}

.col {
  padding-bottom: 7px;
}

.modal-content form {
  width: 85%;
  margin: auto;
}

.modal-content form input[type="text"], .modal-content form select, .modal-content form textarea {
  margin-bottom: 12px;
}

.map {
  min-width: 250px;
  min-height: 250px;
  width: 100%;
  height: 100%;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  z-index: 1100;
  display: none;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 350px 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

[contenteditable='true'] {
  min-height: 34px;
}

/*
[contenteditable='true']:before {
    content: "\feff ";
}
[contenteditable=true]:empty:before {
    content: "\feff " !important;
}*/
/*
 * Custom styles
 */
.navbar-brand {
  font-size: 24px;
}

.navbar-container {
  padding: 10px 0 10px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #00d0ff;
  border-color: #00d0ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

.navbar-fixed-top {
  background-color: #00d0ff;
}

.navbar-toggle .icon-bar {
  background: #1e12e2;
}

.navbar a {
  color: white;
}

.text-color-deep {
  color: #bc4e2f;
}

.text-color-water {
  color: #2c9fda;
}

.navbar li.active a {
  color: #0575f1;
  background: transparent;
}

.navbar li, .navbar a {
  background: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Administrator */
.admin-administrator li a {
  color: red;
}

/* Admin pool service */
/* Admin pool teachican */
.error-page .error-template {
  padding: 40px 15px;
  text-align: center !important;
}

.error-page .error-actions {
  margin-top: 15px;
  margin-bottom: 15px !important;
}

.error-page .error-actions .btn {
  margin-right: 10px !important;
}

.error-page .btn-default {
  color: black !important;
  border-color: #e6e5e5 !important;
}

.no_display {
  display: none !important;
}

.inputerror {
  border: 1px solid red !important;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
}

.tab-content {
  padding-top: 20px;
}

[data-orderfield] {
  cursor: pointer;
}

[data-orderfield]:after {
  margin-left: 5px;
  font-family: FontAwesome;
}

[data-orderfield].asc:after {
  content: "\f0d8";
}

[data-orderfield].desc:after {
  content: "\f0d7";
}

.dashboard .icon:hover {
  color: #2ab27b;
}

.dashboard .search-fieldset input.form-control, .dashboard .search-fieldset select.form-control {
  width: auto;
  display: inline-block;
}

.dashboard .search-fieldset span.btn {
  position: relative;
  top: -2px;
}

.dashboard .search-fieldset span.clear-filter {
  text-decoration: line-through;
}

.dashboard span.icon.glyphicon {
  font-size: 18px;
  cursor: pointer;
}

.dashboard span.icon.glyphicon.glyphicon-ok-circle {
  color: green;
}

.dashboard span.icon.glyphicon.glyphicon-ban-circle {
  color: red;
}

.dashboard .table.table-list tbody tr {
  height: 45px;
}

.dashboard .table.table-list tbody tr th {
  border-top: 0px;
}

.dashboard .table.table-list tbody tr td {
  position: relative;
}

.dashboard .table.table-list tbody tr td span.avatar {
  padding-right: 36px;
  padding-bottom: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  border-radius: 18px;
  border: 1px solid rgba(51, 122, 183, 0.2);
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 3px;
}

.dashboard-panel .panel-primary > .panel-heading {
  padding: 10px 15px 0px;
  background-color: none;
}

.dashboard-panel .panel-primary > .panel-heading .nav-tabs > li > a {
  border: 1px solid gray;
  border-bottom: none;
  color: black;
}

.dashboard-panel .tab-content {
  padding: 30px;
}

.panel .icon.badge {
  padding: 0px;
  background: none;
  color: #336699;
  font-size: 120%;
  margin-left: 5px;
}

.panel .icon.badge:empty {
  display: inline-block;
}

.poolowner_profile .fieldset {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.poolowner_profile .fieldset .labeltext {
  top: 7px;
  position: relative;
}

.poolowner_profile .fieldset .contenteditable.active {
  border: 1px solid lightgray;
}

.poolowner_profile .fieldset .contenteditable.auto {
  display: inline;
}

.poolowner_profile .fieldset .contenteditable.auto.active {
  min-width: 64px;
  display: inline-block;
}

.poolowner_profile .fieldset .contenteditable.password {
  -webkit-text-security: disc;
}

.poolowner_profile .fieldset .contenteditable {
  min-width: 200px;
  display: inline-block;
  padding: 7px;
  border-radius: 5px;
  outline: none;
}

.poolowner_profile .fieldset select.contenteditable {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  min-width: auto;
}

.poolowner_profile .fieldset .img_profile {
  width: 100px;
  height: auto;
}

.poolowner_profile .form_upload {
  display: inline-block;
}

.poolowner_profile #form_upload {
  width: 50%;
  margin: auto;
}

.poolowner_profile #form_upload button[type="submit"] {
  background: none;
  border: none;
  font-size: 200%;
}

.poolowner_profile input[type="file"].avatar {
  width: 25px;
  height: 37px;
  outline: none;
  display: inline;
}

.poolowner_profile input[type="file"].avatar:before {
  font-family: 'Glyphicons Halflings';
  font-size: 200%;
  content: "\e022";
}

.poolowner_poolinfo .checkbox {
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(1.2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  padding: 10px;
  text-transform: uppercase;
}

.poolowner_poolinfo .icon.saveform-fieldset {
  margin-left: 100px;
}

.poolowner_poolinfo input[type="checkbox"] {
  margin-left: -32px;
  margin-top: -2px;
}

.technician-professionnal-service button {
  font-size: 13px;
}

.technician-professionnal-service table {
  margin-top: 10px;
}

.technician-professionnal-service table tr:even {
  background-color: gray;
}

.technician-professionnal-service table tr td {
  position: relative;
  vertical-align: middle;
}

.technician-professionnal-service .technician-img {
  width: 100px;
  height: auto;
  min-height: 100px;
}

.technician-professionnal-service form.form_technician-avatar {
  display: none;
}

.technician-professionnal-service .status {
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 12px;
  font-size: 20px;
}

.technician-professionnal-service .status.active {
  color: green;
}

.technician-professionnal-service .status.pending {
  color: gray;
}

.company-offered-service .offer_status.active:before {
  content: "\e089";
}

.company-offered-service .offer_status.denied:before {
  content: "\e090";
}

.dashboard-notification .notopened {
  font-weight: bold;
}

.my-pool-service-company tr td {
  vertical-align: middle !important;
}

.my-pool-service-company a.btn.btn-primary {
  margin: 5px;
}

.my-pool-service-company button.btn.btn-default {
  background: #d67676;
}

.my-pool-service-company tr th {
  border: 0px !important;
}

.my-pool-service-company img.logo {
  width: auto;
  height: 50px;
}

.company-profile-service {
  /*  bhoechie tab */
}

.company-profile-service div.profile-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

.company-profile-service div.profile-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.company-profile-service div.profile-tab-menu div.list-group-profile {
  margin-bottom: 0;
}

.company-profile-service div.profile-tab-menu div.list-group-profile > a {
  margin-bottom: 0;
}

.company-profile-service div.profile-tab-menu div.list-group-profile > a .glyphicon,
.company-profile-service div.profile-tab-menu div.list-group-profile > a .fa {
  color: #5A55A3;
}

.company-profile-service div.bhoechie-tab-menu div.list-group-profile > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

.company-profile-service div.profile-tab-menu div.list-group-profile > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

.company-profile-service div.profile-tab-menu div.list-group-profile > a.active,
.company-profile-service div.profile-tab-menu div.list-group-profile > a.active .glyphicon,
.company-profile-service div.profile-tab-menu div.list-group-profile > a.active .fa {
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}

.company-profile-service div.profile-tab-menu div.list-group-profile > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

.company-profile-service div.profile-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

.company-profile-service div.profile-tab div.profile-tab-content:not(.active) {
  display: none;
}

.company-profile-service .is-disabled {
  pointer-events: none;
}

.company-profile-service .divLoadData {
  display: none;
  padding-top: 10px;
}

.company-profile-service img {
  max-width: 100%;
  max-height: 100%;
}

.company-profile-service .portrait {
  height: 80px;
  width: 30px;
}

.company-profile-service h4 {
  margin-top: 0;
  color: #55518a;
}

.company-route-service {
  /*  bhoechie tab */
  /* select with custom icons */
  /* select with CSS avatar icons */
}

.company-route-service div.route-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 0px;
  margin-left: 0px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

.company-route-service div.route-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.company-route-service div.route-tab-menu div.list-group-route {
  margin-bottom: 0;
}

.company-route-service div.route-tab-menu div.list-group-route > a {
  margin-bottom: 0;
}

.company-route-service div.route-tab-menu div.list-group-route > a .glyphicon,
.company-route-service div.route-tab-menu div.list-group-route > a .fa {
  color: #5A55A3;
}

.company-route-service div.route-tab-menu div.list-group-route > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

.company-route-service div.route-tab-menu div.list-group-route > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

.company-route-service div.route-tab-menu div.list-group-route > a.active,
.company-route-service div.route-tab-menu div.list-group-route > a.active .glyphicon,
.company-route-service div.route-tab-menu div.list-group-route > a.active .fa {
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}

.company-route-service div.route-tab-menu div.list-group-route > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

.company-route-service div.route-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

.company-route-service div.route-tab div.route-tab-content:not(.active) {
  display: none;
}

.company-route-service div.route-map {
  width: 100%;
  height: 400px;
  display: loat;
  border: 0px solid #3872ac;
}

.company-route-service .is-disabled {
  pointer-events: none;
}

.company-route-service .divLoadData {
  display: none;
  padding-top: 10px;
}

.company-route-service img {
  max-width: 100%;
  max-height: 100%;
}

.company-route-service .portrait {
  height: 80px;
  width: 30px;
}

.company-route-service h2 {
  margin: 30px 0 0 0;
}

.company-route-service h4 {
  margin-top: 0;
  color: #55518a;
}

.company-route-service fieldset {
  border: 0;
}

.company-route-service label {
  display: block;
}

.company-route-service .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
  padding: 0.5em 0 0.5em 3em;
}

.company-route-service .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
  height: 24px;
  width: 24px;
  top: 0.1em;
}

.company-route-service .ui-icon.video {
  background: url("images/24-video-square.png") 0 0 no-repeat;
}

.company-route-service .ui-icon.podcast {
  background: url("images/24-podcast-square.png") 0 0 no-repeat;
}

.company-route-service .ui-icon.rss {
  background: url("images/24-rss-square.png") 0 0 no-repeat;
}

.company-route-service option.avatar {
  background-repeat: no-repeat !important;
  padding-left: 20px;
}

.company-route-service .avatar .ui-icon {
  background-position: left top;
}

.company-route-service div.img-div {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.company-route-service .img-div img {
  -webkit-transform: translate(-50%);
  margin-left: 100px;
}

.company-route-service .circle-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("images/pool-repair.png");
  display: block;
  background-position-y: 25%;
}

.company-route-service .icon-success {
  color: #5CB85C;
  border: 1px;
}

/*!
 * bootstrap-star-rating v4.0.2
 * http://plugins.krajee.com/star-rating
 *
 * Author: Kartik Visweswaran
 * Copyright: 2013 - 2017, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-star-rating/blob/master/LICENSE.md
 */
.rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0;
  color: #fff;
  background: transparent url("../img/loading.gif") top left no-repeat;
  border: none;
}

/*
 * Stars & Input
 */
.rating-container .rating-stars {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.rating-container .rating-input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  font-size: 1px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
  cursor: not-allowed;
}

.rating-container .star {
  display: inline-block;
  margin: 0 3px;
  text-align: center;
}

.rating-container .empty-stars {
  color: #aaa;
}

.rating-container .filled-stars {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  color: #fde16d;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke: 1px #777;
  text-shadow: 1px 1px #999;
}

.rating-rtl {
  float: right;
}

.rating-animate .filled-stars {
  transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
  left: auto;
  right: 0;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
  right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
  margin-right: 0.07em;
}

/**
 * Sizes
 */
.rating-xl {
  font-size: 4.89em;
}

.rating-lg {
  font-size: 3.91em;
}

.rating-md {
  font-size: 3.13em;
}

.rating-sm {
  font-size: 2.5em;
}

.rating-xs {
  font-size: 2em;
}

.rating-xl {
  font-size: 4.89em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
  color: #aaa;
  cursor: not-allowed;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
}

.clear-rating-active {
  cursor: pointer !important;
}

.clear-rating-active:hover {
  color: #843534;
}

.rating-container .clear-rating {
  padding-right: 5px;
}

/**
 * Caption
 */
.rating-container .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
  margin-top: -0.6em;
}

.rating-container .caption {
  margin-left: 5px;
  margin-right: 0;
}

.rating-rtl .caption {
  margin-right: 5px;
  margin-left: 0;
}

/**
 * Print
 */
@media print {
  .rating-container .clear-rating {
    display: none;
  }
}

.rating-container .caption {
  display: none !important;
}
