.admin-poolowner {}
.poolowner_profile {
    .form_upload {
        width: 150px;
        display: inline-block;
        margin-top: -50px;
    }
    #form_upload {
        width: 50%;
        margin: auto;
        button[type="submit"]{
            background: none;
            border: none;
            font-size: 200%;
        }
    }
    input[type="file"].avatar { 
        width: 25px;
        height: 37px;
        outline: none;
        display: inline;
        &:before {
            font-family: 'Glyphicons Halflings';
            font-size: 200%;
            content : "\e022";
        }
    }

.my-pool-service-company{
    tr td {
        vertical-align: middle !important;
    }
    a.btn.btn-primary {
        margin: 5px;
    }
    button.btn.btn-default {
        background: #d67676;
    }
    tr th{
        border: 0px !important;
    }
    img.logo{
        width: 100px;
        height: 50px;
    }
}