.admin-poolowner {}
.no_display {
    display: none !important;
}
.dashboard-panel {
    .panel-primary > .panel-heading {
        padding: 10px 15px 0px;
        background-color: none;
        .nav-tabs > li > a {
            border: 1px solid gray;
            border-bottom: none;
            color: black;
        }
    }
    .tab-content {
        padding: 30px;
    }
}
.poolowner_profile {
    .fieldset {
        margin-bottom: 20px;
        padding-bottom: 20px;
        .contenteditable.active {
            padding: 7px;
            border: 1px solid lightgray;
            border-radius: 5px;
            outline: none;
        }
        .contenteditable {
            &:focus {
                padding: 7px;
                border: 1px solid lightgray;
                border-radius: 5px;
                outline: none;
            }
        }
        .icon.badge {
            padding: 0px;
            background: none;
            color: #336699;
            font-size: 150%;
            margin-left: 20px;
        }
        .img_profile {
            width: 100px;
            height: auto
        }
    }
    .form_upload {
        display: inline-block;
    }
    #form_upload {
        width: 50%;
        margin: auto;
        button[type="submit"]{
            background: none;
            border: none;
            font-size: 200%;
        }
    }
    input[type="file"].avatar { 
        width: 25px;
        height: 37px;
        outline: none;
        display: inline;
        &:before {
            font-family: 'Glyphicons Halflings';
            font-size: 200%;
            content : "\e022";
        }
    }
}

.my-pool-service-company{
    tr td {
        vertical-align: middle !important;
    }
    a.btn.btn-primary {
        margin: 5px;
    }
    button.btn.btn-default {
        background: #d67676;
    }
    tr th{
        border: 0px !important;
    }
    img.logo{
        width: 100px;
        height: 50px;
    }
}