.poolowner{
    .services {
        tr th {
            border-top: 0px !important;
        }
        label.btn-unable {
            color: red;
        }
        label.btn-complete {
            color: blue;
        }
        tr:nth-child(even) {
            background-color: #d9eff3;
        }
        tr td{
            line-height: 2.6;
            border: 0px;
        }
        
    }
    .well {
        background: transparent important;
    }
}