// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "common";
@import "nav";

// your scss here
// Write your sass in block

/* Administrator */
.admin-administrator {
    li {
        a {
            color: red;
        }
    }
}

/* Admin pool service */
.admin-poolservice {
}

/* Admin pool owner */
.admin-poolowner {
    .poolowner_profile {    
        #form_upload {
            width: 50%;
            margin: auto;
            button[type="submit"]{
                background: none;
                border: none;
                font-size: 200%;
            }
        }
        .input-avatar {
            width: 25px;
            height: 37px;
            outline: none;
            &:before {
                font-family: 'Glyphicons Halflings';
                font-size: 200%;
                content : "\e022";
            }
        }
    }
}

/* Admin pool teachican */
.admin-teachnician {
    
}

@import "form-elements";
@import "font";
@import "error";
@import "contact";
